* {
    font-family: 'Segoe UI';
}
body {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify;
}
article{
    column-count: 2;
}
h2{
    color: grey;
    text-decoration: underline;
    text-decoration-color: orange;
}
@media  screen and (width < 750px) {
article{
    column-count: 1;
}
h2{
text-decoration: none;
}
}
